/* See https://tailwindcss.com/ */

@tailwind base;

p {
  @apply mb-3;
}


@tailwind components;

@responsive {
  .btn {
    @apply px-4 py-2 bg-blue-500 text-white rounded hover:bg-blue-700 focus:bg-blue-700;
  }
  .input-text {
    @apply border border-gray-500 rounded p-2 focus:outline-none focus:ring focus:border-blue-300
  }
  .link {
    @apply text-blue-600 hover:underline;
  }
  .line-clamp {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .line-clamp-1 {
    @apply line-clamp;
    -webkit-line-clamp: 1;
  }
}


@tailwind utilities;
